.primeira-section {
  height: 100vh;
  width: 100vw;
  background-image:linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url('../img/clin.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.conteudo-especifico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #323230;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

.conteudo-especifico h3 {
  color: var(--white-color);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}

.conteudo-especifico p {
  color: var(--white-color);
  font-size: 1.8rem;
  padding: 5px;
  font-weight: 600;
}

.conteudo-especifico input {
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid var(--gray-color);
  padding: 10px;
  width: 100%;
}

.btn button{
  width: 100%;
  height: 40px;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: var(--white-color);
  border-radius: 10px;
  color: var(--gray-color);
  font-weight: 600;
  transition: all 400ms ease-in;
  margin: 25px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn button:hover {
  border: 1px solid var(--white-color);
  background-color: transparent;
  color: var(--white-color);
}


